<div ng-controller="TalkSettingCtrl" id="talk-setting">
    <p class="title">トーク設定</p>

    <form>
        <div class="left">
            <label>アイコン</label>
            <img src="../img/icon/RoundIcons-Free-Set-01.png">
        </div>
        <div class="right">
            <label>タイトル(20字まで)<span id="title_num">0/20</span></label>
            <input type="text" class="NewTitle" ng-model="NewTitle" size="35"/>
            <label>自分の名前</label>
            <select class="" ng-model="NewAuthor" ng-options="data.name as data.name for data in member">
                <option>選択してください</option>
            </select>
        </div>
    </form>

    <p class="button submit" ng-click="EditTalk()"><a>変更</a></p>

    <span class="border"></span>

    <input type="text" class="ConfirmPassword" ng-model="ConfirmPassword" size="35" placeholder="パスワードを入力"/>
    <p class="button delete"><a ng-click="DeleteTalk()">トークを削除する</a></p>
</div>
