<ul id="list">
	<li id="add">
		<a href="">
			<div class="panel">
				<p>add talk...</p>
			</div>
		</a>
	</li>
	<li ng-repeat="data in talk">
		<a href="#view/{{data.id}}">
			<div class="panel">
				<img src="img/icon/RoundIcons-Free-Set-01.png">
				<p class="title">{{data.title}}</p>
				<p class="modified">{{parseDate(data.start) | date:'yyyy/M/d'}} ~ {{parseDate(data.end) | date:'yyyy/M/d'}}</p>
			</div>
		</a>
	</li>
</ul>
<div ng-controller="NewTalkCtrl">
	<form ng-submit="upload(this)" enctype="multipart/form-data" id="upload">
		<input type="file" name="talk_file">
		<button type="submit">アップロード</button>
	</form>
</div>

<script type="text/javascript">
$(function(){
	$("#header").css("position","inherit");
});
</script>
