<div id="top" ng-init="user='後藤 誉昌'">
	<a href="/mypage" class="back icon-back"></a>
	<div id="title"><p>{{head.title}}</p><span class="app line"></span></div>
	<span id="share" class="button"><span class="icon icon-heart"></span>共有する</span>
</div>
<div id="left">
	<div id="info1" class="segment">
		<p class="segment_top">トーク情報<span class="icon icon-info"></span></p>
		<ul class="segment_body">
			<li><span>投稿数</span>{{head.count}}</li>
			<li><span>期間</span>{{parseDate(head.start) | date:'yyyy/MM/dd'}}〜{{parseDate(head.end) | date:'yyyy/MM/dd'}}</li>
			<li><span>追加日</span>{{parseDate(head.created) | date:'yyyy/MM/dd'}}</li>
		</ul>
	</div>
	<div id="member" class="segment">
		<p class="segment_top">メンバー({{head.member}})<span class="icon icon-user"></span></p>
		<ul class="segment_body">
			<li ng-repeat="data in member">{{data.name}} ({{data.count}})</li>
		</ul>
	</div>
	<div id="history" class="segment">
		<p class="segment_top">トーク履歴<span class="icon icon-chart"></span></p>
		<ul class="segment_body">
			<li><a href="" class="active">
				<p>2014/3</p>
				<ul class="log">
					<li><span style="height:60%;"></span></li>
					<li><span style="height:20%;"></span></li>
					<li><span style="height:00%;"></span></li>
					<li><span style="height:30%;"></span></li>
					<li><span style="height:100%;"></span></li>
					<li><span style="height:10%;"></span></li>
					<li><span style="height:60%;"></span></li>
					<li><span style="height:90%;"></span></li>
					<li><span style="height:00%;"></span></li
					><li><span style="height:60%;"></span></li>
					<li><span style="height:30%;"></span></li>
					<li><span style="height:10%;"></span></li>
					<li><span style="height:80%;"></span></li>
					<li><span style="height:60%;"></span></li>
					<li><span style="height:90%;"></span></li>
					<li><span style="height:90%;"></span></li>
					<li><span style="height:100%;"></span></li>
					<li><span style="height:60%;"></span></li>
					<li><span style="height:100%;"></span></li>
					<li><span style="height:20%;"></span></li>
					<li><span style="height:30%;"></span></li>
					<li><span style="height:20%;"></span></li>
					<li><span style="height:80%;"></span></li>
					<li><span style="height:10%;"></span></li>
					<li><span style="height:30%;"></span></li>
					<li><span style="height:20%;"></span></li>
					<li><span style="height:30%;"></span></li>
					<li><span style="height:90%;"></span></li>
					<li><span style="height:70%;"></span></li>
					<li><span style="height:60%;"></span></li>
					<li><span style="height:80%;"></span></li>
				</ul>	  
			</a></li>
		</ul>
	</div>
</div>
<div id="right">
	<div id="head">
		<p id="now">{{year}}年{{month}}月</p>
		<p id="count">{{timeline.length}}トーク</p>
		<span ng-click="setDate(year,month-1)" class="move icon-down"></span>
		<span ng-click="setDate(year,month+1)" class="move icon-up"></span>
	</div>
	<ul id="talk" class="line">
		<li ng-repeat="data in timeline | orderBy:predicate:reverse"
			ng-class="{'me':data.name==user, 'others':data.name!=user, 'others-1':data.name!=user}">
			<div class="box">
				<p ng-hide="data.name==user" id="name">{{data.name}}</p>
				<p id="text">{{data.value}}
					<span class="date">{{parseDate(data.date) | date:'MM/dd'}}<br>{{parseDate(data.date) | date:'HH:mm'}}</span>
				</p>
			</div>
		</li>
	</ul>
</div>
