<div class="ui page grid" ng-init="user='後藤 誉昌'">
  <div class="four wide column">
	<a href="/mypage" class="tiny ui icon button">
  	  <i class="icon reply mail"></i>
	</a>
	<p style="display:inline"><b>{{head.title}}</b>さんとのトーク</p>
  </div>
  <div class="right floated twelve wide column">
  	<div class="right floated ui buttons">
  	  <button id="share" class="small ui icon button"><i class="icon share"></i>共有する</button>
  	  <button id="add" class="small ui icon button"><i class="icon upload"></i>追加する</button>
	</div>
  </div>
</div>

<!-- Modal Window for Share -->
<div class="ui small modal share" ng-controller="NewTalkCtrl">
  <i class="close icon"></i>
  <div class="header">
    トーク共有
  </div>
  <div class="content">
    <div class="left">
    	<form id="newtalk" ng-submit="upload(this)" enctype="multipart/form-data">
    		<input type="file"  ng-model="file" name="file">
    		<button type="text">アップロード</button>
    	</form>
    </div>
  </div>
</div>

<!-- Modal Window for Add -->
<div class="ui small modal add" ng-controller="NewTalkCtrl">
  <i class="close icon"></i>
  <div class="header">
    トークアップロード
  </div>
  <div class="content">
    <div class="left">
    	<form id="newtalk" ng-submit="upload(this)" enctype="multipart/form-data">
    		<input type="file"  ng-model="file" name="file">
    		<button type="text">アップロード</button>
    	</form>
    </div>
  </div>
</div>


<div class="ui page grid">
  <div id="view_main" class="sixteen wide column"> 
  	<div id="sidebar">
  		<ul id="number">
  			<li><a href=""><p><span>2</span>メンバー</p></a></li>
  			<li><a href=""><p><span>{{head.count}}</span>トーク</p></a></li>
  			<li><p>{{parseDate(head.start) | date:'yyyy/MM/dd'}}<span>〜</span>{{parseDate(head.end) | date:'yyyy/MM/dd'}}</p></li>
  		</ul>
  		<element id="graph" style="display:block;width:180px;background:white;"></element>
  		<script>
  		var r = Raphael('graph', 180, 35);
		$(function() {
			var x = -10,
			    y = -7,
			    xlen = 200,
			    ylen = 51,
			    xdata = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30],
			    ydata = [44,77,51,147,160,103,17,97,144,171,  49,163,22,13,7,19,29,1,35,144,  137,11,104,66,53,154,182,185,76,78,  156];
			var chrt = r.linechart(x, y, xlen, ylen, xdata, ydata, {
			    gutter: false,
			    nostroke: true,
			    shade: true,
			    symbol: false,
			    smooth: true,
			    colors: ['#94ddf8']
			});
		});
  		</script>
  	</div>
  	<div id="main">
	    <div id="main_top">
	      <i ng-click="setDate(year,month-1)" class="small circular inverted icon left arrow"></i><b>{{year}}年{{month}}月</b> {{timeline.length}}件<i ng-click="setDate(year,month+1)" class="small circular inverted icon right arrow"></i>
	      <div class="ui mini icon input" style="float:right">
		  	<input type="text" ng-model="query.text" placeholder="Search...">
		  	<i class="search icon"></i>
		  </div>
		</div>
	    <div ng-show="query.text" class="ui attached segment" style="padding:0!important;">
	      <div class="ui small message">
	      	”<b>{{query.text}}</b>”での検索結果
	      	<i ng-click="query.text=''" class="close icon"></i>
	      </div>
		</div>
	    <div id="main_bottom">
	      <div class="ui grid">
	      	<div ng-repeat="data in timeline | orderBy:predicate:reverse | filter:query.text" class="floated twelve wide column message" ng-class="{'right' : data.name == user}">
		  	  <p ng-show="data.name != timeline[$index-1]['name']" class="name">{{data.name}}</p>
	    	  <div class="bubble ui secondary segment" ng-class="{'teal inverted' : data.name == user}">
	  			<p style="font-size:15px;">{{data.value}}</p>
		  	  </div>
		  	  <p class="date">{{parseDate(data.date) | date:'yyyy/MM/dd HH:mm'}}</p>
	      	</div>
		  </div>
	    </div>
	</div>
  </div>
</div>





<!-- 
<div id="view_sidebar" class="four wide column">
	<div class="ui vertical menu">
	  <div class="header item"><i class="icon info letter"></i>情報</div>
	  <div class="text item">投稿数：{{head.count}}</div>
	  <div class="text item">期間：{{parseDate(head.start) | date:'yyyy/MM/dd'}}〜{{parseDate(head.end) | date:'yyyy/MM/dd'}}</div>
	  <div class="text item">追加日：{{parseDate(head.created) | date:'yyyy/MM/dd'}}</div>
	</div>
	<div class="ui vertical menu">
	  <div class="header item"><i class="icon user"></i>メンバー({{head.member}})</div>
	  <a ng-repeat="data in member" ng-click="setUser(data.name)" class="item">{{data.name}}<div class="ui label">{{data.count}}</div></a>
	</div>
	<div class="ui vertical menu">
	  <div class="header item"><i class="icon time"></i>並び順</div>
	  <a class="item" ng-class="sort1" ng-init="sort1='active teal'" ng-click="predicate='date';reverse=false;sort1='active teal';sort2=''">古い → 新しい</a>
	  <a class="item" ng-class="sort2" ng-click="predicate='date';reverse=true;sort2='active teal';sort1=''">新しい → 古い</a>
	</div>
	<div class="ui vertical menu">
	  <div class="header item"><i class="icon bolt"></i>ヒートマップ</div>
	  <div class="item">
	  	<table id="tips">
	  		<tr>
	  			<td></td>
	  			<td></td>
	  			<td></td>
	  			<td></td>
	  		</tr>
	  	</table>
	  	<table id="log">
	  		<thead>
					<tr>
						<th></th>
						<th style="font-weight:normal;">0</th>
						<th style="font-weight:normal;">3</th>
						<th style="font-weight:normal;">6</th>
						<th style="font-weight:normal;">9</th>
						<th style="font-weight:normal;">12</th>
						<th style="font-weight:normal;">15</th>
						<th style="font-weight:normal;">18</th>
						<th style="font-weight:normal;">21</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="data in log">
						<th style="font-weight:normal;">{{parseDate(data.date) | date:'MM/dd'}}</th>
						<td class="{{logLevel(data.0+data.1+data.2)}}"></td>
						<td class="{{logLevel(data.3+data.4+data.5)}}"></td>
						<td class="{{logLevel(data.6+data.7+data.8)}}"></td>
						<td class="{{logLevel(data.9+data.10+data.11)}}"></td>
						<td class="{{logLevel(data.12+data.13+data.14)}}"></td>
						<td class="{{logLevel(data.15+data.16+data.17)}}"></td>
						<td class="{{logLevel(data.18+data.19+data.20)}}"></td>
						<td class="{{logLevel(data.21+data.22+data.23)}}"></td>
					</tr>
				</tbody>
			</table>
	  </div>
	</div>
  </div>
 -->


