<div class="ui page grid">
  <div class="four wide column">
  	<div class="ui buttons">
  	  <button id="create" class="small ui icon red button"><i class="file outline icon"></i>新規作成する</button>
	</div>
  </div>
  <div class="right floated twelve wide column">
  	<!-- <div class="right floated ui buttons">
  	  <div class="small ui icon black button"><i class="file outline icon"></i>新規作成する</div>
	</div> -->
  </div>
</div>

<!-- Modal Window for Upload -->
<div class="ui small modal" ng-controller="NewTalkCtrl">
  <i class="close icon"></i>
  <div class="header">
    トークアップロード
  </div>
  <div class="content">
    <div class="left">
    	<form id="newtalk" ng-submit="upload(this)" enctype="multipart/form-data">
    		<input type="file"  ng-model="file" name="file">
    		<button type="text">アップロード</button>
    	</form>
    </div>
  </div>
</div>

<div id="top" class="ui page grid">
	<div class="four wide column" ng-repeat="data in talk">
		<div class="ui raised segment" style="position:relative;">
			<a href="#view/{{data.id}}">
			<div class="contain">
				<p class="ui label line">{{data.type}}</p>
				<h2><b>{{data.title}}</b></h2>
				<p class="talk_num">{{data.count}}<span>talks</span></p>
				<p class="span"><i class="time icon"></i>{{data.created}}</p>
				<p class="member"><i class="user icon"></i>{{data.member}}</p>
			</div>
			
			<ul id="log0">
		  	<li><span style="height:50%;"></span></li>
		  	<li><span style="height:30%;"></span></li>
		  	<li><span style="height:60%;"></span></li>
		  	<li><span style="height:80%;"></span></li>
		  	<li><span style="height:0%;"></span></li>
		  	<li><span style="height:20%;"></span></li>
		  	<li><span style="height:30%;"></span></li>
		  	<li><span style="height:10%;"></span></li>
		  	<li><span style="height:0%;"></span></li>
		  	<li><span style="height:100%;"></span></li>
		  	<li><span style="height:80%;"></span></li>
		  	<li><span style="height:60%;"></span></li>
		  </ul>	
			</a>
		</div>
	</div>
</div>

<!-- 
<script>
Morris.Area({
  element: 'chart0',
  data: [
	 {y: "0", a: 6},
	 {y: "1", a: 9},
	 {y: "2", a: 11},
	 {y: "3", a: 2},
	 {y: "4", a: 26},
  ],
  xkey: 'y',
  ykeys: 'a',
  axes: false,
  lineWidth: 2,
  pointSize: 0,
  fillOpacity: 1,
  grid: false,
  axes: false,
  lineColors: ['#eee'],
});
</script>
 -->