<div id="top" ng-init="user='後藤 誉昌'">
	<a href="/mypage" class="back icon-back"></a>
	<div id="title">
				<img src="img/icon/RoundIcons-Free-Set-01.png"><p>{{head.title}}</p><span class="app line"></span></div>
	<span id="share" class="button"><span class="icon icon-heart"></span>共有する</span>
</div>
<div id="left">
	<div id="info" class="segment">
		<p class="segment_top">トーク情報<span class="icon icon-info"></span></p>
		<ul class="segment_body">
			<li><span>投稿数</span>{{head.count}}</li>
			<li><span>期間</span>{{parseDate(head.start) | date:'yyyy,M'}}〜{{parseDate(head.end) | date:'yyyy,M'}}</li>
			<li><span>更新</span>{{parseDate(head.created) | date:'yyyy,M,d'}}</li>
		</ul>
	</div>
	<div id="member" class="segment">
		<p class="segment_top">メンバー<span class="icon icon-user"></span></p>
		<ul class="segment_body">
			<li ng-repeat="data in member | limitTo:5" ng-class="{'others':data.name!=user}" class="others-1">{{data.name}}<span>{{data.count}}</span></li>
		</ul>
	</div>
	<!-- 
	<div id="history" class="segment">
		<p class="segment_top">トーク履歴<span class="icon icon-chart"></span></p>
		<ul class="segment_body">
			<li><a href="" class="active">
				<p>2014/3</p>
				<ul class="log">
					<li><span style="height:60%;"></span></li>
					<li><span style="height:20%;"></span></li>
					<li><span style="height:00%;"></span></li>
					<li><span style="height:30%;"></span></li>
					<li><span style="height:100%;"></span></li>
					<li><span style="height:10%;"></span></li>
					<li><span style="height:60%;"></span></li>
					<li><span style="height:90%;"></span></li>
					<li><span style="height:00%;"></span></li
					><li><span style="height:60%;"></span></li>
					<li><span style="height:30%;"></span></li>
					<li><span style="height:10%;"></span></li>
					<li><span style="height:80%;"></span></li>
					<li><span style="height:60%;"></span></li>
					<li><span style="height:90%;"></span></li>
					<li><span style="height:90%;"></span></li>
					<li><span style="height:100%;"></span></li>
					<li><span style="height:60%;"></span></li>
					<li><span style="height:100%;"></span></li>
					<li><span style="height:20%;"></span></li>
					<li><span style="height:30%;"></span></li>
					<li><span style="height:20%;"></span></li>
					<li><span style="height:80%;"></span></li>
					<li><span style="height:10%;"></span></li>
					<li><span style="height:30%;"></span></li>
					<li><span style="height:20%;"></span></li>
					<li><span style="height:30%;"></span></li>
					<li><span style="height:90%;"></span></li>
					<li><span style="height:70%;"></span></li>
					<li><span style="height:60%;"></span></li>
					<li><span style="height:80%;"></span></li>
				</ul>	  
			</a></li>
		</ul>
	</div>
	 -->
</div>
<div id="right">
	<div id="head">
		<span ng-click="setDate(year,month-1)" id="prev" class="move icon-left"></span>
		<div id="current">
			<p id="now">{{year}}年{{month}}月</p>
			<p id="count">{{count}}トーク</p>
			<span class="icon-down"></span>
		</div>
		<span ng-click="setDate(year,month+1)" id="next" class="move icon-right"></span>
	</div>
	<ul id="talk" class="line">
		<li ng-repeat="data in timeline | orderBy:'date'"
			ng-class="{'me':data.name==user, 'others':data.name!=user, 'others-1':data.name!=user}">
			<div class="box">
				<p ng-hide="data.name==user" id="name">{{data.name}}</p>
				<p id="text">{{data.value}}
					<span class="date">{{parseDate(data.date) | date:'M/d'}}<br>{{parseDate(data.date) | date:'a h:m'}}</span>
				</p>
			</div>
		</li>
	</ul>
</div>

<script type="text/javascript">
$(function(){
	$(window).scroll(function () {
		var ScrTop = $(document).scrollTop();

		if(ScrTop > 50) {
			//$("#header").css({"position":"fixed","z-index":"100"});
			$("#header").css({"position":"fixed","top":"-55px"});
			$("#top").css({"position":"fixed","top":"5px"});
			$("#left").css({"position":"fixed"});
			$("#head").css({"position":"fixed","top":"80"});
		} else {
			$("#header").css({"position":"inherit"});
			$("#top").css({"position":"absolute","top":"0"});
			$("#left").css({"position":"absolute"});
			$("#head").css({"position":"absolute","top":"0"});
		}
	});
});
</script>