/* Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; } /*行の高さをフォントサイズと同じにしています*/ body { line-height:1; } /*新規追加要素のデフォルトはすべてインライン要素になっているので、section要素などをブロック要素へ変更しています*/ article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section { display:block; } /*nav要素内ulのマーカー（行頭記号）を表示しないようにしています*/ nav ul { list-style:none; } /*引用符の表示が出ないようにしています*/ blockquote, q { quotes:none; } /*blockquote要素、q要素の前後にコンテンツを追加しないように指定しています*/ blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; } /*a要素のフォントサイズなどをリセットしフォントの縦方向の揃え位置を親要素のベースラインに揃えるようにしています*/ a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; } /* ins要素のデフォルトをセットし、色を変える場合はここで変更できるようにしています */ ins { background-color:#ff9; color:#000; text-decoration:none; } /* mark要素のデフォルトをセットし、色やフォントスタイルを変える場合はここで変更できるようにしています また、mark要素とは、文書内の検索結果で該当するフレーズをハイライトして、目立たせる際に使用するようです。*/ mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; } /*テキストに打ち消し線が付くようにしています*/ del { text-decoration: line-through; } /*IEではデフォルトで点線を下線表示する設定ではないので、下線がつくようにしています また、マウスオーバー時にヘルプカーソルの表示が出るようにしています*/ abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; } /*隣接するセルのボーダーを重ねて表示し、間隔を0に指定しています*/ table { border-collapse:collapse; border-spacing:0; } /*水平罫線のデフォルトである立体的な罫線を見えなくしています*/ hr { display:block; height:1px; border:0; border-top:1px solid #cccccc; margin:1em 0; padding:0; } /*縦方向の揃え位置を中央揃えに指定しています*/ input, select { vertical-align:middle; } img {width: 100%;}

/* Icon */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-da4e0s');
	src:url('../fonts/icomoon.eot?#iefix-da4e0s') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-da4e0s') format('woff'),
		url('../fonts/icomoon.ttf?-da4e0s') format('truetype'),
		url('../fonts/icomoon.svg?-da4e0s#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
	content: "\f007";
}
.icon-times:before {
	content: "\f00d";
}
.icon-setting:before {
	content: "\f013";
}
.icon-lock:before {
	content: "\f023";
}
.icon-chart:before {
	content: "\f080";
}
.icon-heart:before {
	content: "\f08a";
}
.icon-signout:before {
	content: "\f08b";
}
.icon-down:before {
	content: "\f0d7";
}
.icon-bell:before {
	content: "\f0f3";
}
.icon-left:before {
	content: "\f104";
}
.icon-right:before {
	content: "\f105";
}
.icon-back:before {
	content: "\f112";
}
.icon-question:before {
	content: "\f128";
}
.icon-info:before {
	content: "\f129";
}
.icon-ballon_left:before {
	content: "\e600";
}
.icon-ballon_right:before {
	content: "\e601";
}
.icon-avator:before {
	content: "\e602";
}

/* Common */
body {
	background: #f8f8f8;
}

p {
	font-size: 15px;
	color: #434a54;
}

a {
	font-size: 15px;
	color: #434a54;
	text-decoration: none;
}

li {
	list-style: none;
	font-size: 14px;
	color: #434a54;
}

.container {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

ul.log {
	position: absolute;
	bottom: 0;
	padding: 0;
	margin: 0;
}

ul.log li {
	list-style: none;
	float: left;
}

ul.log li span {
	position: absolute;
	bottom: 0;
	background: #eee;
}

/* Modal */
.modal {
	width: 500px;
	margin: 0;
	padding: 30px 40px;
	border-radius: 5px;
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	border: 1px solid rgba(0,0,0,0.3);
	background: #fff;
	position: absolute;
	display: none;
	z-index: 999;
}

#overlay {
	z-index: 998;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	background-color: rgba(255,255,255,0.75);
}

.modal .close {
	cursor: pointer;
	position: absolute;
	top: 30px;
	right: 40px;
}

.modal .title {
	font-size: 17px;
}

.modal .button {
	cursor: pointer;
}

.modal .button a {
	padding: 7px 30px;
	font-size: 12px;
	font-weight: bold;
}

.modal .submit a {
	background: #4d90fe;
	border: 1px solid #3079ed;
	color: white;
}

.modal .delete a {
	background: #d14836;
	border: 1px solid red;
	color: white;
}

.modal .border {
	display: block;
	border-top: 1px solid #efefef;
	margin: 20px 0;
}

.modal form {
	margin: 40px 0;
	overflow: hidden;
}

.modal form div label {
	font-size: 14px;
	color: #434a54;
	display: block;
}

input[type="text"], textarea, select {
    border: 1px solid #e1e1e1;
    padding: 4px 8px;
	font-size: 14px;
	margin: 5px 0 20px 0;
	color: #333;
	width: 99%;
}


/* Header */
#header {
	width: 100%;
	height: 55px;
	background: #2f9ee6;
	//background: -webkit-linear-gradient(#2f9ee6 30%,#1f80cd 100%);
	//background: linear-gradient(#2f9ee6 30%,#1f80cd 100%);
	border-bottom: 1px solid #15578b;
	z-index: 100;
}

h1 {
	color: white;
	font-size: 20px;
	font-weight: normal;
	float: left;
	margin-left: 45%;
	padding-top: 20px;
}

#nav {
	float: right;
}

#nav:hover {
	cursor: pointer;
}

#nav p {
	color: white;
	font-size: 13px;
	padding: 17px 0 10px 20px;
}

#nav span.icon-down {
	font-size: 16px;
	margin-left: 5px;
	position: relative;
	top: 3px;
}

#nav_menu {
	background: white;
	z-index: 200;
	width: 180px;
	border-radius: 5px;
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	border: 1px solid rgba(0,0,0,0.15);
	display: none;
	position: absolute;
}

#nav_menu li a {
	z-index: 200;
	color: gray;
	display: block;
	padding: 10px 20px;
	font-size: 13px;
	border-bottom: 1px solid #e8e8e8;
}

#nav_menu li a:hover {
	background: whitesmoke;
}

/***************
	List
***************/
ul#list {
	overflow: hidden;
	margin: 30px 0;
}

ul#list li {
	float: left;
	width: 233px;
	height: 230px;
	margin: 0 20px 20px 0;
}

ul#list li:nth-child(4n) {
	margin-right: 0;
}

ul#list li a {
	display: block;
	padding: 15px 0;
}

ul#list li a:hover {
	background: #eee;
}

ul#list li#add a:before {
	content: '+';
	position: absolute;
	left: 80px;
	top: 40px;
	font-size: 120px;
	color: silver;
}

ul#list li#add p {
	position: absolute;
	left: 90px;
	top: 180px;
	font-size: 14px;
	color: silver;
}

ul#list li .panel {
	width: 200px;
	height: 200px;
	background: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 2px rgba(0,0,0,0.2);
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
	overflow: hidden;
	margin: 0 auto;
}

ul#list li .panel img {
	width: 100px;
	//font-size: 110px;
	display: block;
	margin: 20px auto;
	//text-align: center;
	//color: gray;
}

ul#list li .panel p.title {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5px;
}

ul#list li .panel p.modified {
	font-size: 10px;
	text-align: center;
	color: silver;
}


/***************
	View
***************/
/* Top */
#top {
	position: absolute;
	top: 0;
	background: #f8f8f8;
	z-index: 10;
	width: 1000px;
	padding: 25px 0 20px 0;
}

a.back {
	float: left;
	display: block;
	padding: 2px 10px;
	margin-right: 10px;
}

a.back:hover {
	background: #e9edef;
}

#title {
	overflow: hidden;
	display: inline;
}

#title img {
	width: 30px;
	float: left;
	position: relative;
	left: -5px;
	top: -5px;
}

#title p {
	font-size: 20px;
	font-weight: bold;
	display: inline;
	float: left;
	margin-right: 10px;
}

span.app {
	display: block;
	position: relative;
	float: left;
	height: 22px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}

span.app:after {
	color: white;
	font-size: 13px;
	position: absolute;
	top: 6px;
	left: 8px;
}

span.line {
	width: 45px;
	background: #00c300;
}

span.line:after {
	content: 'LINE';
}

#top ul#button {
	float: right;
}

#top ul#button li {
	float: left;
	margin-left: 20px;
}

#top ul#button li span.icon {
	font-size: 16px;
	margin-right: 3px;
	position: relative;
	top: 1px;
}

#top ul#button li:hover {
	cursor: pointer;
	border-bottom: 1px solid black;
}

/* Left */
#left {
	position: absolute;
	top: 80px;
	width: 230px;
}

#left:hover {
	opacity: 1.0!important;
}

.segment {
	margin-bottom: 10px;
}

p.segment_top {
	padding: 13px 15px;
	font-weight: bold;
}

p.segment_top span.icon {
	float: right;
	font-size: 16px;
	color: gray;
}

ul.segment_body li {
	padding: 13px 15px;
	position: relative;
}

ul.segment_body > li:before {
	position: absolute;
	content: '';
	top: 0%;
	left: 0px;
	width: 100%;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.1) 1.5em, rgba(0, 0, 0, 0.03) 100%);
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.1) 1.5em, rgba(0, 0, 0, 0.03) 100%);
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.03)), color-stop(1.5em, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.03)));
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.1) 1.5em, rgba(0, 0, 0, 0.03) 100%);
}

/* Left Info */
#info ul li span {
	width: 45px;
	margin-right: 10px;
}

#info ul li span:after {
	content: ':';
}

/* Left Member */
#member ul li {
	padding-left: 40px;
}

#member ul li.others:after {
    font-family: 'icomoon';
    font-size: 18px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	top: 9px;
	left: 15px;
	content: "\e602";
}

#member ul li.others-1:after {
	color: gray;
}

#member ul li span {
	background: white;
	border: 1px solid #e8e8e8;
	font-size: 12px;
	float: right;
	padding: 5px 6px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	position: relative;
	top: -5px;
}

#member ul li.more {
	cursor: pointer;
}

#member ul li.more:hover {
	text-decoration: underline;
}

/* Right */
#right {
	position: absolute;
	right: 0;
	top: 80px;
	width: 760px;
}

/* Right_Head */
#head {
	position: absolute;
	width: 758px;
	height: 55px;
	border: 1px solid #e8e8e8;
	z-index: 100;
	background: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

#head p {
	display: inline;
}

p#now {
	font-size: 16px;
	font-weight: bold;
}

#current {
	position: absolute;
	padding: 15px;
	top: 4px;
	cursor: pointer;
	margin-left: 250px;
	display: inline;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}

#date_menu {
	display: none;
	top: 45px;
	left: 230px;
	width: 300px;
	height: 500px;
	background: white;
	z-index: 200;
	border-radius: 5px;
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	border: 1px solid rgba(0,0,0,0.15);
	background-clip: padding-box;
	position: absolute;
}

#date_menu li {
	position: relative;
	height: 40px;
}

#history ul li p {
	margin: 0;
	position: absolute;
	left: 15px;
	top: 10px;
	z-index: 10;
	font-size: 12px;
}

#date_menu ul.log {
	left: 5px;
	height: 20px;
}

#date_menu ul.log li {
	margin-right: 1px;
	width: 6px;
	height: 20px;
}

#date_menu ul.log li span {
	width: 6px;
}

#date_menu li a.active ul.log li span {
	background: #94ddf8;
}

#date_menu li a:hover ul.log span {
	background: #94ddf8;
}

#head span.move {
	cursor: pointer;
	background: #eee;
	font-size: 18px;
	padding: 5px 12px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	position: absolute;
	top: 13px;
}

span#prev {
	left: 15px;
}

span#next {
	right: 15px;
}

/* Right_Main */
ul#talk {
	width: 730px;
	margin: 54px 0;
	padding: 13px 14px;
	background: white;
	border: 1px solid #e8e8e8;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

ul#talk li {
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
}

ul#talk li a {
	color: blue;
	text-decoration: underline;
}

.box {
	width: 500px;
}

p#text {
	font-size: 14px;
	line-height: 1.5em;
	padding: 5px 15px;
	margin-left: 5px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	-ms-border-radius: 15px;
	float: left;
	position: relative;
}

p#text:before {
    font-family: 'icomoon';
    font-size: 14px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
}

span.date {
	font-size: 10px;
	line-height: 1.2em;
	color: silver;
	position: absolute;
}

/* For Others */
ul#talk li.others-1:before {
    font-family: 'icomoon';
    font-size: 23px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	content: "\e602";
	color: gray;
}

p#name {
	font-size: 12px;
	margin-bottom: 5px;
}

ul#talk li.others .box {
	float: left;
	padding-left: 30px;
}

ul#talk li.others p#text {
	background: #e9edef;
}

ul#talk li.others p#text:before {
	content: "\e600";
	color: #e9edef;
	left: -8px;
}

ul#talk li.others span.date {
	bottom: 0;
	right: -55px;
	width: 50px;
}

/* For Me (LINE) */
ul#talk li.me p#text {
	background: #c0ef91;
	float: right;
}

ul#talk li.me .box {
	float: right;
	padding-right: 10px;
}

ul#talk li.me p#text:before {
	content: "\e601";
	color: #c0ef91;
	right: -8px;
}

ul#talk li.me span.date {
	bottom: 0;
	left: -55px;
	width: 50px;
	text-align: right;
}

/* Modal Talk Setting */
#talk-setting .left {
	width: 160px;
	float: left;
}

#talk-setting .left img {
	width: 80px;
	margin: 10px;
}

#talk-setting .right {
	width: 340px;
	float: left;
}

#talk-setting #title_num {
	float: right;
}

#talk-setting .submit {

}

#talk-setting .ConfirmPassword {
	width: 250px;
	margin-right: 20px;
	float: left;
}

#talk-setting .delete {
	margin: 32px 0 0 0;
}

/* Footer */
#footer {
	background: white;
	width: 100%;
}

#footer ul {
	padding: 10px 0;
	float: left;
}

#footer ul li {
	float: left;
	margin-right: 30px;
}

#footer ul li a {
	font-size: 12px;
}

#footer p {
	font-size: 12px;
	padding: 10px 0;
	color: gray;
	float: right;
}
