html {
	//background: #eee;
	background: #f8f8f8;
	font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
}

body {
	margin: 0;
}

a {
	text-decoration:none;
	font-size: 14px;
	color: black;
}

a:hover {
	color: #e76059;
}

.ui.right {
	float: right;
}

/* Header */
#header {
	background: #26333b;
	//background: white;
	border-bottom: 1px solid #d1cece;
	height: 60px;
}

#header a {
	color: white;
}

h1 {
	margin: 15px;
	text-align: center;
}

h1 img {
	width: 160px;
}

#header .five {
	margin: 15px 0;
}

#header i.circular {
	-webkit-box-shadow: 0em 0em 0em 0.1em rgba(255,255,255,0.5) inset;
	box-shadow: 0em 0em 0em 0.1em rgba(255,255,255,0.5) inset;
}

/* Top */
h2 {
	margin: 0;
	font-size: 18px;
	font-weight: normal;
}


.vertical {
	width: 100%!important;
}

.message {
	margin: 0!important;
}

.segment {
	margin: 0!important;
	padding: 10px 16px!important;
}

p.name {
	font-size: 16px;
	margin: 3px 0 0 0!important;
}

.right p.name {
	text-align: right;
}

p.date {
	color: #888888;
	font-size: 12px;
	margin: 3px 0 0 0!important;
}
.right p.date {
	text-align: right;
}

.ui.label.line {
	padding: 1px 6px;
	background:#2bb920;
	color: white;
}

#top .ui.segment {
	position: relative;
	height: 240px;
	padding: 0!important;
}

#top .ui.segment a:hover {
	opacity: 0.5;
}

#top .ui.segment a {
	display: block;
	width: 155px;
	height: 160px;
	padding: 40px;
	z-index: 10;
	position: relative;
}

#top .ui.segment a h2 {
	margin: 0;
	font-size: 16px;
}

#top .ui.segment a h2 b {
	font-size: 22px;
	font-weight: normal;
}

#top .ui.segment .contain {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 10;
}

#top .chart {
	position: absolute;
	width: 304px;
	height: 200px;
	bottom: -25px;
	left: -24px;
	z-index: 0;
}

#top p.talk_num {
	font-size: 32px;
	position: absolute;
	bottom: 20px;
	margin: 0;
}

#top p.talk_num span {
	font-size: 16px;
	margin-left: 4px;
}

#top p.span {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	color: gray;
}

#top p.span i {
	width: 13px;
}

#top p.member {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;
	color: gray;
}

#top p.member i {
	width: 13px;
}


ul#log0 {
	position: absolute;
	bottom: 0;
	left: 2px;
	padding: 0;
	width: 235px;
	height: 170px;
	margin: 0;
}

ul#log0 li {
	list-style: none;
	float: left;
	margin-right: 2px;
	width: 17px;
	height: 170px;
}

ul#log0 li span {
	position: absolute;
	bottom: 0;
	width: 17px;
	background: #eee;
}



/* View */
#view_main {
	background: #fbfbfb;
	border: 1px solid #ddd;
   	-moz-border-radius: 5px;
   	-webkit-border-radius: 5px;
   	-o-border-radius: 5px;
   	-ms-border-radius: 5px;
	border-radius: 5px;
   	padding: 0;
}

#sidebar {
	width: 249px;
	float: left;
   	-moz-border-radius: 5px 0;
   	-webkit-border-radius: 5px 0;
   	-o-border-radius: 5px 0;
   	-ms-border-radius: 5px 0;
	border-radius: 5px 0;
	padding: 15px;
}

#main {
	background: white;
	width: 750px;
	margin-left: 250px;
	border-left: 1px solid #ddd;
   	-moz-border-radius: 0 5px;
   	-webkit-border-radius: 0 5px;
   	-o-border-radius: 0 5px;
   	-ms-border-radius: 0 5px;
	border-radius: 0 5px;
}

#main_top {
	padding: 15px;
	border-bottom: 1px solid #ddd;
}

#main_bottom {
	padding: 15px;
}

ul#number {
	overflow: hidden;
	margin: 20px 0;
	padding: 0;
}

ul#number li {
	float: left;
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #ddd;
}

ul#number li:nth-child(3) {
	margin-right: 0;
	border: none;
}

ul#number li a p {
	margin: 0;
	color: #666;
	font-size: 11px;
	line-height: 2em;
}

ul#number li a p span {
	display: block;
	font-size: 26px;
	color: black;
}

ul#number li > p {
	font-size: 13px;
	margin: 0;
	line-height: 1em;
}

ul#number li > p span {
	display: block;
	text-align: center;
	font-size: 10px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}



.vertical {
	width: 100%!important;
}
.message {
	margin: 0!important;
}
.segment {
	margin: 0!important;
	padding: 10px 16px!important;
}
p.name {
	font-size: 14px;
	margin: 3px 0 0 0!important;
}
.right p.name {
	text-align: right;
}
p.date {
	color: #888888;
	font-size: 12px;
	margin: 3px 0 0 0!important;
}
.right p.date {
	text-align: right;
}



.log a {
	display: block;
	width: 100%;
	height: 35px;
}

.log a p {
	margin: 0;
	position: absolute;
	left: 15px;
	top: 10px;
	z-index: 10;
}

.log ul {
	position: absolute;
	bottom: 0;
	left: 5px;
	padding: 0;
	height: 20px;
	margin: 0;
}

.log ul li {
	list-style: none;
	float: left;
	margin-right: 1px;
	width: 6px;
	height: 20px;
}

.log ul li span {
	width: 10px;
	position: absolute;
	bottom: 0;
	width: 6px;
	background: #eee;
}

.log .active ul li span {
	background: #94ddf8;
}

.log :hover ul li span {
	background: #94ddf8;
}



/* Footer */
#footer {
	overflow: hidden;
	margin-top: 20px;
}

#footer ul {
	display: block;
	margin: 10px 0;
	text-align: center;
}

#footer ul li:before {
	color: gray;
	font-size: 10px;
}

#footer ul li a {
	color: gray;
	font-size: 13px;
	padding-left: 8px;
}

#footer p {
	color: gray;
	text-align: center;
	font-size: 12px;
}